@import "topfix";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

footer {

}

.alert {
	margin-bottom: 10px;
}

.col-form-label {
	text-align: right !important;
}







