{layout '@layout.latte'}
{block #subject}Password reset{/block}
{block #content}

	<p>
		Hello,
	</p>
	<p>
		someone, probably you, just asked for reset password for account {$email}.
		To set new password, visit this link
	</p>
	<p>
		<a n:href="Front:Sign:in, newpasshash => $hash">{link Front:Sign:in, newpasshash => $hash}</a>
	</p>

{/block}