{block content}
	<div class="text-center">
		<h1 class="display-3">Gritbox</h1>
		<p class="lead">A Nette full-featured starting application.</p>
		<p><a class="btn btn-lg btn-success" href="https://github.com/gritbox/gritbox" role="button">Open on Gtihub</a></p>
	</div>
