<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Aureta Figural</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	 <!-- Bootstrap -->
     <link href="{$basePath}/assetts/css/bootstrap.min.css" rel="stylesheet">
     <!-- Bootstrap plugins Style -->
     <link href="{$basePath}/assetts/css/bootstrap-plugins.min.css"" rel="stylesheet">
     <!-- Font Awesome -->
     <link href="{$basePath}/assetts/css/font-awesome.min.css" rel="stylesheet">
     <!-- Gentelella Theme Style -->
     <link href="{$basePath}/assetts/css/gentelella.min.css"" rel="stylesheet">
     


	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body class="login">

 

	{include content}



  </div>
</div>
	{block scripts}

	<!-- jQuery -->
        <script src="{$basePath}/assetts/js/jquery.min.js") }}"></script>
        <!-- Bootstrap -->
        <script src="{$basePath}/assetts/js/bootstrap.min.js") }}"></script>
        <!-- Gentelella Theme Scripts -->
        <script src="{$basePath}/assetts/js/bootstrap-plugins.min.js") }}"></script>
        <!-- Gentelella Theme Scripts -->
        <script src="{$basePath}/assetts/js/gentelella.min.js") }}"></script>


	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
