{extends '../../../../presenters/templates/@layout.latte'}

{block header}
	{include './@header.latte'}
{/block}

{block moduleLayout}
	<main>
		{include content}
	</main>
	<footer class="p-3 text-center">
		<hr/>
		Footer
	</footer>
{/block}


